extends header

block content
	section(class='hero is-success is-fullheight')
		.hero-body
			div(class='container has-text-centered')
				div(class='column is-4 is-offset-4')
					h3(class='title has-text-grey') Login
					p(class='subtitle has-text-grey') Manage your account.
					.box
						figure(class='avatar')
							img(src='https://placehold.it/128x128')
						form(action='/user/login', method='POST')
							.field
								.control
									input(class='input is-large' type='email' name='email' placeholder='Your Email' autofocus='')

							.field
								.control
									input(class='input is-large' type='password' name='password' placeholder='Your Password')

							.field
								label(class='checkbox')
									input(type='checkbox' name='remember')
									| Remember me
		
							.field
								.control
									input(class='button is-block is-info is-large' value='Login' type='submit')
										
					p(class='has-text-grey')
						span Don't have an account yet? &nbsp;
							a(href='/register' class='has-text-weight-semibold is-link is-size-4') Sign Up!
						